<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <!-- <style>
        input{margin-top: 15px;}
    </style> -->
    <body>
        <h1>Welcome <%=player.name%></h1>
    <form action="/players/profile/<%=player.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=player.name%>" /><br> <br>
                  <input id="editButton" type="submit" value="Edit Profile"/><br></br>
       <br>

    </form>
  

                <form action="/players/profile/<%=player.id;%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE USER"/>
                </form>
        <br><br>

        <h3>This Player is associated with the following Pokemon:</h3>
        <% for (let i=0; i< player.Pokemons.length; i++){ %>
            <li>
               <%=player.Pokemons[i].name%>
            </li>
            <br>
        <% } %>

       
    </body>
</html>