<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="/css/app.css">
    </head>
    <!-- <style>
        input{margin-top: 15px;}
    </style> -->
    <body>

        <h1>This is the profile for <%=actor.name%></h1>
    <form action="/actors/profile/<%=actor.id%>?_method=PUT" method="POST">
            Name: <input type="text" name="name" value="<%=actor.name%>" /><br> <br>
                  <input id="editButton" type="submit" value="Update Name"/><br></br>
       <br>
    </form>


    <form action="/actors/profile/<%=actor.id%>?_method=PUT" method="POST">
       <select name="movie">
        <% for ( let i = 0; i < movies.length; i++ ) {
            let selected = ( i == 0 ) ? "selected" : "";
        %>
            <option value="<%=movies[i].id%>" <%=selected%>><%=movies[i].name%>
            </option>
       <% } %>
    </select>
       <br></br>
  
       <input id="editButton" type="submit" value="Add Movie to Profile"/><br></br>
   
<form>


<h3>This Actor is associated with the following movies:</h3>
        <% for (let i=0; i< actor.Movies.length; i++){ %>
            <li>
               <%=actor.Movies[i].name%>
            </li>
            <br>
        <% } %>
        <br><br><br><br><br>
        

        <h3>Movie App Page Links</h3>
        <nav>
            <a href="/actors">Actor list</a><br><br>
        </nav>
        <nav>
            <a href="/movies">Movie list</a><br><br>
        </nav>
        <nav>
            <a href="/">Welcome Page</a><br><br>
        </nav>

    </body>
</html>